
<% provide(:title, @user.name) %>
<div class="row">
 <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
      <h5>
        AKA: <%= @user.name %>
      </H5>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <h4>About Me</h4>
      <p>I'm a guitar player</p>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if signed_in? %>
      <% if current_user.username == @user.username %>
        <h3>Your Stuff</h3>
      <%else%>
       <h3><%=@user.username %>'s Stuff</h3> 
      <% end %>
      <section>
        <h4>Start a new song</h4>
        <%= render 'songs/track_upload_form' %>
      </section>
      <section>
        <h4>Listen to one of your tracks</h4>
        <ul class='playlist js-track-list'>
          <%= render @tracks%>
        </ul>
        <%= render 'shared/player' %> -->
     </section>
    <% if @user.microposts.any? %>
      <section id = 'user_shouts'>  
        <h4>Shouts (<%= @user.microposts.count %>)</h4>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      </section>
    <% end %>

  </div>
</div>
