<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 52 %>
</a>
<h1>
  <%= current_user.username %>
</h1>
<span>
  <%= pluralize(current_user.tracks.count, 'track') %>  
  <%= pluralize(current_user.microposts.count, "shout") %>
</span>