<% song.tracks.each do |track| %>
	<li class = 'url list-group-item' data-track = '<%=track.id%>' data-load = '<%=is_audio(track.track_url)%>' data-url = <%= @bucket.objects[track.track_url].url_for(:read)%>>
		<% if is_audio(track.track_url) %> 
			<button type = 'button' class='mute_track btn btn-default btn-xs' data-track = '<%=track.id%>' >
				<span class="glyphicon glyphicon-ban-circle"></span>
			</button>
			<button type = 'button' class='track_controls btn btn-default btn-xs' data-toggle='collapse' data-target= '#track_control_toggle_<%= track.id %>'>
				<span  class='glyphicon glyphicon-random'></span> 
			</button>
		<% else %>
			<button type = button class='btn btn-default btn-xs'><a href = <%= @bucket.objects[track.track_url].url_for(:read) %> target = "_blank"> Open</a></button>			
		<% end %>
		<%= track.name %>  
		<p> Roles: <%= pluck_role(track.id, song.id)%></p>
		<span class = 'user_avatars'>	
		<%= link_to gravatar_for(track.user, size: 30 ), track.user%>
		</span>
	  	<span class="timestamp">
    		Posted <%= time_ago_in_words(track.created_at) %> ago.
		</span>
		<div id='track_control_toggle_<%= track.id%>' class='collapse' style='width:80%; padding: 10px 0px 0px 20px; clear:both;'>
		
		Volume: <span class="track_gain_label" id="gain_label_for_track_<%=track.id%>">1.00</span> 
		<input class="track_gain" id="gain_for_track_<%=track.id%>" data-node = '' data-track = '<%=track.id%>' max="10" min="0" step="0.01" type="range" value="3.16" >
		
		Pan: <span class="track_pan_label" id="panner_label_for_track_<%=track.id%>">0.00</span>
		<input class="track_pan" id="panner_for_track_<%=track.id%>" type="range" max="1.57" min="-1.57" step=".01" value="0"> 
		
		<div>
	</li>
<% end %>

