<div class='list-group'>
	<li id='song_<%=song.id%>' class='song list-group-item' style='background-color: snow;' >
	  	<big>
			<strong>
				<%=song.name%>
			</strong>
		</big>
		<div>
			<span class = 'timestamp'>
				Last Updated: <%= time_ago_in_words(song.created_at) %>  ago.
			</span>
		</div>
		<div class='btn-group btn-group-justified'>
			<div class = 'btn-group'>
				<button type="button" class='btn btn-primary' data-toggle='collapse' 
					data-target = '#meet_the_band_for_<%=song.id%>'>
					<span class='glyphicon glyphicon-glass'>
					</span>
					Meet The Band
				</button>  			
			</div>	
		</div>
		
		<div style='padding-top: 5px;' id='meet_the_band_for_<%=song.id%>' class='collapse'>
			<% song.users.each_with_index do |user| %>
				<span class = 'user_avatars'>	
				<%= link_to gravatar_for(user, size: 50 ), user%>
				</span>
			<%end%>
		</div>				
		
		<div style = 'clear:both;'>
			<%= render partial: 'songs/song_buttons', locals: {song: song}  %>
		</div>
		<div id='tracks_toggle_<%= song.id%>' class='collapse'>
			<div id = 'song_details'>
				<ul class='js-track-list playlist'>	
					<%= render partial: 'songs/song_tracks', locals: {song: song}  %>
				</ul>
			</div>
		</div>
	 	<div id = 'upload_track_toggle_<%=song.id%>' class='collapse'>
			<%=  render partial: 'songs/track_upload_form', locals: {song: song} %>
		</div>	
		<div id = 'song_posts_toggle_<%=song.id%>' class = 'collapse'>
			<ul class='list-group microposts'>
				<%= render partial: 'songs/song_posts', locals: {song: song} %>
			</ul>
		</div>
		<div id = 'post_comment_toggle_<%=song.id%>' class='collapse'>
			<%= render partial: '/shared/micropost_form', locals: {song: song} %>
		</div>
	</li>
</div>


