<% set_direct_post %>
<%= form_for(@track, html: { class: "directUpload" }) do |f| %>
  <div class="field" style='padding-top: 10px;'>
    <%= f.label 'Upload a Track' %>
    <%= f.file_field :track_url, accept: "audio/*"%>
    <% if defined? song %>
		<%= hidden_field_tag 'song_id', song.id%> 
	<% end %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default btn-sm' %>
  </div>
<% end %>


