<% set_direct_post %>
<%= form_for(@track, html: { class: "directUpload" }) do |f| %>
  <div class="field" style='padding-top: 5px;'>
    <span><%= f.label 'Upload a Track' %></span>
    <%= f.file_field :track_url, accept: "audio/*"%>
    <% if defined? song %>
		<%= hidden_field_tag 'song_id', song.id%> 
	<% end %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn' %>
  </div>
<% end %>


