<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <h4> Shout it out </h4>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
       <div id='accordion'>
        <h4>Who's shouting? <span class = 'caret'></span></h4>
        <section>        
          <%= render 'shared/feed' %>
        </section>
      </div>   
    </aside>
    <div class="span8">
      <%= render 'songs/song_list' %>
      <section>
      <hr>         
        <h4>Start a song of your own</h4>        
        <%= render 'shared/track_upload_form' %>
      </section>        
      <hr>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>MMM Under Development</h1>

     <%= link_to "You can't sign up yet!",'#', class: "btn btn-large btn-primary" %>
  </div>

<% end %>

<script>
$(function() {
  $('#accordion').accordion({ header: "h4", collapsible: true });
});
</script>
