<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <h4> Shout it out </h4>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      <button type="button" class='btn btn-link' data-toggle='collapse' data-target= '#shouts'>
        Who's shouting? <span class="caret"></span>
      </button>
      <section id = 'shouts' class='collapse in'>        
          <%= render 'shared/feed' %>
      </section>
    </aside>
    <div class="span8">
      <section>
        <%= render 'songs/song_list' %>
      </section>
      <section>
        <hr>         
        <h4>Start a song of your own</h4>        
        <%= render 'shared/track_upload_form' %>
      </section>        
      <hr>
    </div>
  </div>   
<% else %>
  <div class="center hero-unit">
    <h1>MMM Under Development</h1>

     <%= link_to "You can't sign up yet!",'#', class: "btn btn-large btn-primary" %>
  </div>

<% end %>

<script>
$(function() {
  $('#accordion').accordion({ header: "h4", collapsible: true });
});
</script>
