<% if signed_in? %>
  <div class="row-fluid">
    <aside class="col-xs-3 ">
      <div class='list-group'>
        <div class='list-group-item'>
          <ul id='tabs' class='nav nav-pills nav-justified' data-tabs='tabs'>
            <li class='active'>
              <a href = '#shouts' data-toggle = 'tab'>
                <span class='glyphicon glyphicon-comment'></span>
              </a>
            </li>        

            <li>
              <a href = '#upload' data-toggle = 'tab'>
                <span class='glyphicon glyphicon-cloud-upload'></span>
              </a>
            </li>
            <li>
              <a href = '#shout' data-toggle = 'tab'>
                <span class='glyphicon glyphicon-pencil'></span>
              </a>
            </li>
            <li> 
              <a href = '#about' data-toggle = 'tab'>
                <span class='glyphicon glyphicon-user'>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div id='left-tab-content' class='tab-content'>
        <div id="shouts" class="tab-pane active">
          <div class='list-group'>     
            <%= render 'shared/feed' %>
          </div>
        </div>        
        <div id="upload" class="tab-pane">
          <div class='list-group'>
            <div class='list-group-item'>
              <%= render 'songs/track_upload_form' %>
            </div>
          </div>
        </div>
        <div id="shout" class="tab-pane">
          <div class='list-group'>
            <div class='list-group-item'>          
              <%= render 'shared/micropost_form' %>
            </div>
          </div>
        </div>
        <div id="about" class="tab-pane">
          <div class='list-group'>
            <div class='list-group-item'>
              <section name = 'user_info'>
                <%= render 'shared/user_info' %>
              </section>
              <section name = 'user_stats'>
                <%= render 'shared/stats' %>
              </section>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <div class="col-xs-9 ">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
                <span class='glyphicon glyphicon-music'></span>
            </h4>
          </div>
          <div id='song_list' class="panel-body">
            <ul class='list-group '>
              <%= render 'songs/song_list' %>
            </ul>
          </div>
        </div>      
      </div>
  </div>   

<%= will_paginate @songs %>

<% else %>
  <div class="center jumbotron">
    <h1>MMM Under Development</h1>

     <%= link_to "You can't sign up yet!",'#', class: "btn btn-large btn-primary" %>
  </div>

<% end %>



<script>
$(function() {

  $('.directUpload').find("input:file").each(function(i, elem) {
    var fileInput    = $(elem);
    var form         = $(fileInput.parents('form:first'));
    var submitButton = form.find('input[type="submit"]');
    var progressBar  = $("<div class='bar'></div>");
    var barContainer = $("<div class='progress'></div>").append(progressBar);
    var fd = <%= @s3_direct_post.fields.to_json.html_safe %>
    fileInput.after(barContainer);
    fileInput.fileupload({
      fileInput:       fileInput,
      url:             '<%= @s3_direct_post.url %>',
      type:            'POST',
      autoUpload:       true,
      formData:         fd, //<%= @s3_direct_post.fields.to_json.html_safe %>,
      paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
      dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
      replaceFileInput: false,
      add: function (e, data) {
        fd["Content-Type"] = data.files[0].type;
        data.formData = fd;
        data.submit();  
      },
      progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        progressBar.css('width', progress + '%')
      },

      start: function (e) {
        submitButton.prop('disabled', true);

        progressBar.
          css('background', 'green').
          css('display', 'block').
          css('width', '0%').
          text("Loading...");
      },
      done: function(e, data) {
        submitButton.prop('disabled', false);
        progressBar.text("Uploading done");

        // extract key and generate URL from response
        var key   = $(data.jqXHR.responseXML).find("Key").text();
        // var url   = '//<%= @s3_direct_post.url.host %>/' + key;

        // create hidden field
        var input = $("<input />", { type:'hidden', name: fileInput.attr('name'), value: key })
        form.append(input);
      },
      fail: function(e, data) {
        submitButton.prop('disabled', false);

        progressBar.
          css("background", "red").
          text("Failed");
      }
    });
  });



});
</script>
