<nav class="navbar navbar-fixed-top navbar-inverse" role='navigation'>
		<div class="container-fluid">
			<%= link_to "MMM", root_path, id: "logo" %>
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target = '#topnavbar'>
          <span class='glyphicon glyphicon-th-list'style='color:white;'></span> 
        </button>
      </div>      
      <div  id='topnavbar' class='collapse navbar-collapse navbar-right' >
        <ul class='nav navbar-nav '  role='navigation'>
          <li><%= link_to root_path class: 'btn btn-default' do %>
            <span class='glyphicon glyphicon-home'></span> Home
            <% end %>
          </li>
          <li><%= link_to help_path class: 'btn btn-default' do %>
            <span class='glyphicon glyphicon-question-sign'></span> Help
            <% end %>
          </li>
          <% if signed_in? %>
            <li><%= link_to users_path class: 'btn btn-default' do %>
              <span class='glyphicon glyphicon-globe'></span> Users
                <% end %>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class='glyphicon glyphicon-folder-close'></span> Account
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to " Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </div>   
    </div>
</nav>
